*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Latto' 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(//s1.twnmm.com/images/en_ca/backgrounds/unified/default.jpg);
	background-size: cover;
	position: relative;
	padding-bottom: 3vh;
	min-height: 97vh;
}
